@import '../HeaderBasket/HeaderBasket.scss';
@import '../HeaderLocation/HeaderLocation.scss';
@import '../HeaderDownElement/HeaderDownElement.scss';
@import '../HeaderUpElement/HeaderUpElement.scss';

.header {
	max-width: 100%;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
}
