.header__basket-container {
	position: relative;
}

.header__basket-button {
	display: flex;
	gap: 7.5px;
	justify-content: center;
	align-items: center;
}

.header__basket-target {
	width: 16px;
	height: 16px;
	top: 13px;
	left: 12px;
	font-size: 13px;
	position: absolute;
	border-radius: 50%;
	background-color: #000;
	color: #fff;
	text-align: center;
}
